// header icone back //@include
.fa-arrow-left{
    font-size: 1.25rem;
    position: absolute;
    left: 3rem;
}

// menu //
.menu {
    padding: 1.5rem 1rem;
    background-color:#f6f6f6;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    z-index: 1;
    top: -2rem;
    max-width: 1280px;
    margin: auto;
    margin-bottom: -30px;
}

.menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    h2 {
        font-family: 'Shrikhand', cursive;
        margin-right: 1.2rem;
    }
    .like__container2 {
        width: 32px;
        height: 32px;
        position: relative;
        &:hover {
            .far {
                font-size: 0;
            }
            .fas {
                font-size: 2em;
                left: 0;
                transition: all ease 0.5s;
                &::before {
                    @include degrade;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    display: initial;
                }
            }
        }
        .restaurants__like2 {
            position: absolute;
            right: 0;
        }
        .fas {
            font-size: 0;
            bottom: 0;
            left: 50%;
        }
    }
}
.menu-container {
    
    .submenu {
        h5 {
            text-transform: uppercase;
            font-size: 1.25rem;
            font-weight: 400;
            margin-bottom: 1.25rem;
            &:after {
                content: " ";
                width: 50px;
                display: block;
                border-bottom: solid 4px $color-tiers;
            }
        
        }
        article {
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: white;
            margin-bottom: 1.25rem;
            padding: 0.75rem;
            border-radius: 0.75rem;
            @include shadow-bloc;
            opacity: 0;
            transform: translateY(30px);
            cursor: pointer;
            display: flex;
            overflow: hidden;
            &:hover{
                .item__confirmation {
                    margin-right: -1rem;
                    transition: all ease-in 0.5s;
                    .item__icon {
                        transform: rotate(0);
                        transition: all ease-in 0.5s;
                    }
                }
            }
           
            .description {
                flex: 1;
                max-width: calc(100% - 30px);
                h4 {
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p {
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .price {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                font-weight: 600;
            }

            .item__confirmation {
                background-color: $color-tiers;
                margin: -1rem -5rem -1rem 1rem;
                width: 4rem;
                @include flex-center;
                transition: all ease-in 0.3s;

                .item__icon {
                    background-color: #fff;
                    padding: 5px;
                    color: $color-tiers;
                    border-radius: 50%;
                    transform: rotate(135deg);
                    transition: all ease-in 0.3s;
                }
            }
        
        }
        .delay-0 {
            animation: apparition 0.5s 0.2s ease-out forwards;
        }
        .delay-1 {
            animation: apparition 0.5s 0.3s ease-out forwards;
        }
        .delay-2 {
            animation: apparition 0.5s 0.4s ease-out forwards;
        }
        .delay-3 {
            animation: apparition 0.5s 0.5s ease-out forwards;
        }
        .delay-4 {
            animation: apparition 0.5s 0.6s ease-out forwards;
        }
        .delay-5 {
            animation: apparition 0.5s 0.7s ease-out forwards;
        }
        .delay-6 {
            animation: apparition 0.5s 0.8s ease-out forwards;
        }
        .delay-7 {
            animation: apparition 0.5s 0.9s ease-out forwards;
        }
        .delay-8 {
            animation: apparition 0.5s 1s ease-out forwards;
        }
        .delay-9 {
            animation: apparition 0.5s 1.1s ease-out forwards;
        }
    }
}

// bouton //

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

// media queries

@media (min-width: 1200px) {

    .menu-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;
        .submenu {
            article {
                .description {
                    width: 280px;
                    h4 {
                        white-space: nowrap;
                    }
                    p {
                        white-space: nowrap;
                    }
                }
            }
        }
    }

}
