* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Margin Padding */
.mt-5 {
  margin-top: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.ml-75 {
  margin-left: 75px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.pr-75 {
  padding-right: 75px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo--header {
  width: 11rem;
  padding: 1.5rem 0;
  font-weight: bold;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 1rem;
  font-size: 1.2rem;
  background-color: #f3f3f3;
  font-weight: 700;
}

.fa-map-marker-alt {
  margin-right: 1rem;
}

.explore {
  background-color: #fafafa;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.explore .explore__title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.explore .explore__text {
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.2rem;
}

.fonctionnement {
  padding: 2rem 1.2rem;
  max-width: 1300px;
  margin: auto;
}
.fonctionnement .fonctionnement__title {
  margin-bottom: 1rem;
}
.fonctionnement .fonctionnement__list .fonctionnement__listbloc {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  padding: 1.2rem 0;
  margin: 0.6rem 0;
  border-radius: 1rem;
  font-weight: 500;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.fonctionnement .fonctionnement__list .fonctionnement__listbloc .fonctionnement__number {
  display: block;
  position: absolute;
  left: -0.5rem;
  padding: 0.1rem 0.4rem;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
}
.fonctionnement .fonctionnement__list .fonctionnement__listbloc .fonctionnement__icone {
  color: #7f8c8d;
  margin: 0 1.6rem;
}

@media (min-width: 1000px) {
  .fonctionnement__list {
    display: flex;
  }
  .fonctionnement__list .fonctionnement__listbloc {
    transition: 0.3s;
  }
  .fonctionnement__list .fonctionnement__listbloc:hover {
    transform: scale(1.05);
  }
  .fonctionnement__list .fonctionnement__listbloc:nth-child(2) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .fonctionnement__list .fonctionnement__icone {
    font-size: 1.8rem;
  }
}
.restaurants {
  background-color: #f6f6f6;
}
.restaurants__container {
  max-width: 1300px;
  margin: auto;
}
.restaurants__container__title {
  padding: 2rem;
}
.restaurants__container__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1.5rem;
  padding: 0 1rem 3.5rem 1.5rem;
}
.restaurants__container__grid .restaurants__bloc {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.restaurants__container__grid .restaurants__bloc .restaurants__bloc-img {
  position: relative;
  overflow: hidden;
}
.restaurants__container__grid .restaurants__bloc .restaurants__bloc-img:hover .restaurants__img {
  transform: scale(1.25);
  transition: all ease 1s;
}
.restaurants__container__grid .restaurants__bloc .restaurants__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  transition: all ease 1s;
}
.restaurants__container__grid .restaurants__bloc .restaurants__new {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #58B19F;
  background-color: #55E6C1;
  font-size: 0.85rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
}
.restaurants__container__grid .restaurants__bloc-title {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0.8rem;
  border-radius: 0 0 1rem 1rem;
}
.restaurants__container__grid .restaurants__bloc-title .restaurants__bloc-text {
  font-weight: 700;
  font-size: 1.2rem;
}
.restaurants__container__grid .restaurants__bloc-title .restaurants__bloc-text-premises {
  font-weight: 400;
  font-size: 1rem;
}
.restaurants__container__grid .restaurants__bloc-title .like__container {
  width: 32px;
  height: 32px;
  position: relative;
}
.restaurants__container__grid .restaurants__bloc-title .like__container:hover .far {
  font-size: 0;
}
.restaurants__container__grid .restaurants__bloc-title .like__container:hover .fas {
  font-size: 2em;
  left: 0;
  transition: all ease 0.5s;
}
.restaurants__container__grid .restaurants__bloc-title .like__container:hover .fas::before {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.restaurants__container__grid .restaurants__bloc-title .like__container .restaurants__like {
  position: absolute;
  right: 0;
}
.restaurants__container__grid .restaurants__bloc-title .like__container .fas {
  font-size: 0;
  bottom: 0;
  left: 50%;
}

@media (min-width: 1000px) {
  .restaurants__container__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
.footer {
  background-color: #1e272e;
  color: white;
  padding: 1.2rem 0 1rem 1.2rem;
}
.footer .footer__container {
  max-width: 1300px;
  margin: auto;
}
.footer .footer__container .footer__logo {
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
}
.footer .footer__container .footer__list .footer__listElt {
  margin-bottom: 0.5rem;
}
.footer .footer__container .footer__list .footer__listElt:hover {
  text-decoration: underline;
}
.footer .footer__container .footer__list .footer__list-icone1 {
  margin-right: 1rem;
}
.footer .footer__container .footer__list .footer__list-icone2 {
  margin-right: 0.6rem;
}

.img {
  max-height: 32rem;
  max-width: 100vw;
  width: 100vw;
  object-fit: cover;
  position: inherit;
}

.fa-arrow-left {
  font-size: 1.25rem;
  position: absolute;
  left: 3rem;
}

.menu {
  padding: 1.5rem 1rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  z-index: 1;
  top: -2rem;
  max-width: 1280px;
  margin: auto;
  margin-bottom: -30px;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.menu__header h2 {
  font-family: "Shrikhand", cursive;
  margin-right: 1.2rem;
}
.menu__header .like__container2 {
  width: 32px;
  height: 32px;
  position: relative;
}
.menu__header .like__container2:hover .far {
  font-size: 0;
}
.menu__header .like__container2:hover .fas {
  font-size: 2em;
  left: 0;
  transition: all ease 0.5s;
}
.menu__header .like__container2:hover .fas::before {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.menu__header .like__container2 .restaurants__like2 {
  position: absolute;
  right: 0;
}
.menu__header .like__container2 .fas {
  font-size: 0;
  bottom: 0;
  left: 50%;
}

.menu-container .submenu h5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}
.menu-container .submenu h5:after {
  content: " ";
  width: 50px;
  display: block;
  border-bottom: solid 4px #99E2D0;
}
.menu-container .submenu article {
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  margin-bottom: 1.25rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transform: translateY(30px);
  cursor: pointer;
  display: flex;
  overflow: hidden;
}
.menu-container .submenu article:hover .item__confirmation {
  margin-right: -1rem;
  transition: all ease-in 0.5s;
}
.menu-container .submenu article:hover .item__confirmation .item__icon {
  transform: rotate(0);
  transition: all ease-in 0.5s;
}
.menu-container .submenu article .description {
  flex: 1;
  max-width: calc(100% - 30px);
}
.menu-container .submenu article .description h4 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .submenu article .description p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .submenu article .price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: 600;
}
.menu-container .submenu article .item__confirmation {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.3s;
}
.menu-container .submenu article .item__confirmation .item__icon {
  background-color: #fff;
  padding: 5px;
  color: #99E2D0;
  border-radius: 50%;
  transform: rotate(135deg);
  transition: all ease-in 0.3s;
}
.menu-container .submenu .delay-0 {
  animation: apparition 0.5s 0.2s ease-out forwards;
}
.menu-container .submenu .delay-1 {
  animation: apparition 0.5s 0.3s ease-out forwards;
}
.menu-container .submenu .delay-2 {
  animation: apparition 0.5s 0.4s ease-out forwards;
}
.menu-container .submenu .delay-3 {
  animation: apparition 0.5s 0.5s ease-out forwards;
}
.menu-container .submenu .delay-4 {
  animation: apparition 0.5s 0.6s ease-out forwards;
}
.menu-container .submenu .delay-5 {
  animation: apparition 0.5s 0.7s ease-out forwards;
}
.menu-container .submenu .delay-6 {
  animation: apparition 0.5s 0.8s ease-out forwards;
}
.menu-container .submenu .delay-7 {
  animation: apparition 0.5s 0.9s ease-out forwards;
}
.menu-container .submenu .delay-8 {
  animation: apparition 0.5s 1s ease-out forwards;
}
.menu-container .submenu .delay-9 {
  animation: apparition 0.5s 1.1s ease-out forwards;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

@media (min-width: 1200px) {
  .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
  .menu-container .submenu article .description {
    width: 280px;
  }
  .menu-container .submenu article .description h4 {
    white-space: nowrap;
  }
  .menu-container .submenu article .description p {
    white-space: nowrap;
  }
}
.explore__button {
  padding: 1.1rem 1.4rem;
  border-radius: 8.8rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  border: none;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 600ms;
}

.explore__button:hover {
  transform: scale(1.1);
}

.loader__container {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  animation: hide-loader 3s;
}
.loader__container--box {
  width: 200px;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.loader__container--box--boxin {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.loader__container--box .rect {
  background: #333;
  display: inline-block;
  height: 80px;
  width: 8px;
  margin: 0 1px;
  animation: etire 1.2s 4 ease-in-out forwards;
}
.loader__container--box .rect1 {
  background-color: #9356DC;
  animation-delay: -1.2s;
}
.loader__container--box .rect2 {
  animation-delay: -1.1s;
  background-color: #FF79DA;
}
.loader__container--box .rect3 {
  animation-delay: -1s;
  background-color: #99E2D0;
}

@keyframes etire {
  0% {
    transform: scaleY(0.5);
  }
  20% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.5);
  }
}
@keyframes hide-loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */
