.explore__button {
    padding: 1.1rem 1.4rem;
    border-radius: 8.8rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
    border: none;
    @include degrade;
    @include shadow-bloc;
    transition: transform 600ms;
}

.explore__button:hover {
    transform: scale(1.1);
}