.explore {
    background-color: #fafafa;
    padding: 2rem;
    @include flex-center;
    flex-direction: column;

        .explore__title {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .explore__text {
            font-weight: 300;
            text-align: center;
            margin-bottom: 1.2rem;
        }

        
}