.fonctionnement {
    padding: 2rem 1.2rem;
    max-width: 1300px;
    margin: auto;

        .fonctionnement__title {
            margin-bottom: 1rem
        }

        .fonctionnement__list {
            
                .fonctionnement__listbloc {
                    display: flex;
                    align-items: center;
                    position: relative;
                    width: 100%;
                    background-color: #f6f6f6;
                    padding: 1.2rem 0;
                    margin: 0.60rem 0;
                    border-radius: 1rem;
                    font-weight: 500;
                    @include shadow-bloc;

                        .fonctionnement__number {
                           display: block;
                           position: absolute;
                           left: -0.5rem;
                           padding: 0.1rem 0.4rem;
                           background-color: $color-primary;
                           color: white;
                           border-radius: 50%;
                        }

                        .fonctionnement__icone {
                            color: #7f8c8d;
                            margin: 0 1.6rem;
                        }
                }
        }
}

// Media Queries 

@media (min-width: 1000px) {

    .fonctionnement__list {
        display: flex;

        .fonctionnement__listbloc {
            transition: 0.3s;
            &:hover {
                transform: scale(1.05);
            }
            &:nth-child(2) {
                margin-left: 2rem;
                margin-right: 2rem;
           }
        }
            .fonctionnement__icone {
                font-size: 1.8rem;
            }
     }
}


