.footer {
    background-color: #1e272e;
    color: white;
    padding: 1.2rem 0 1rem 1.2rem;

        .footer__container {
            max-width: 1300px;
            margin: auto;

                .footer__logo {
                    font-family: 'Shrikhand', sans-serif;
                    margin-bottom: 0.8rem;
                    font-size: 1.3rem;
                }

                .footer__list {

                        .footer__listElt {
                            margin-bottom: 0.5rem;
                        }

                        .footer__listElt:hover {
                            text-decoration: underline;
                        }
                    
                        .footer__list-icone1 {
                            margin-right: 1rem;
                        }

                        .footer__list-icone2 {
                            margin-right: 0.6rem;
                        }
                }
        }
}