.localisation {
    @include flex-center;
    padding: 1.3rem 1rem;
    font-size: 1.2rem;
    background-color: #f3f3f3;
    font-weight: 700 ;
  }
  
  .fa-map-marker-alt {
    margin-right: 1rem;
  }