.restaurants {
    background-color: #f6f6f6;

        &__container {            
            max-width: 1300px;
            margin: auto;
            &__title {
                padding: 2rem;
            }
            &__grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            row-gap: 1.5rem;
            padding: 0 1rem 3.5rem 1.5rem;

                .restaurants__bloc {
                    border-radius: 1rem;
                    overflow: hidden;
                    @include shadow-bloc;
                    

                    .restaurants__bloc-img {
                    position: relative;
                    overflow: hidden;
                    &:hover {
                        .restaurants__img {
                            transform: scale(1.25);
                            transition: all ease 1s;
                        }
                    }
                    }

                    .restaurants__img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 1rem 1rem 0 0;
                    transition: all ease 1s;
                    }

                    .restaurants__new {
                    position: absolute;
                    right: 1rem;
                    top: 1rem;
                    color: #58B19F;
                    background-color: #55E6C1;
                    font-size: 0.85rem;
                    padding: 0.3rem 0.5rem;
                    border-radius: 0.2rem;
                    }
                }

                .restaurants__bloc-title {
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    padding: 0.8rem;
                    border-radius: 0 0 1rem 1rem;

                        .restaurants__bloc-text {
                            font-weight: 700;
                            font-size: 1.2rem;
                        }
                        .restaurants__bloc-text-premises {
                            font-weight: 400;
                            font-size: 1rem;
                        }

                        .like__container {
                            width: 32px;
                            height: 32px;
                            position: relative;
                            &:hover {
                                .far {
                                    font-size: 0;
                                }
                                .fas {
                                    font-size: 2em;
                                    left: 0;
                                    transition: all ease 0.5s;
                                    &::before {
                                        @include degrade;
                                        background-clip: text;
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                        display: initial;
                                    }
                                }
                            }
                            .restaurants__like {
                                position: absolute;
                                right: 0;
                            }
                            .fas {
                                font-size: 0;
                                bottom: 0;
                                left: 50%;
                            }
                        }

                        
                }

                
            
            }

        }
    
}

// Media Queries

@media (min-width: 1000px) {

    .restaurants{
            &__container {
               &__grid {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(2, 1fr);
                column-gap: 1.5rem;

                   
               }
            }
    }
    
}