@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow-bloc {
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.25);
}

@mixin degrade {
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
}